{% extends 'base.html' %}
{% load poll_extras %}

{% block title %}Bookstore Home{% endblock %}

{% block content %}
{% include 'user_nav.html' %}
{% load poll_extras %}
{% get_review as review %}

<br />
<div class="row">
<div class="column small-4 float-right">


	{% include 'notice.html' %}
</div>


{% get_notice as notice %}

{{notice.notice_title}}

 <div class="column small-4 float-right">
	<div class="column">
	<div class="callout">
	<p>کتاب روز</p>
	{% url 'bookstore:book_list' as url_book_list %}
	<p><img src="http://placehold.it/400x370&amp;text= کتابخوانه" alt="image of a planet called Pegasi B"></p>
	<a class="lead" href='{{ url_book_list }}'>Get list of books in the bookstore</a>
	<p class="subheader">لیست کتاب ها</p>
	</div>
	</div>
	
</div>




<div class="column small-4 float-right">


	{% include 'fun.html' %}
</div>

</div>


{% endblock %}