{% extends 'base.html' %}

{% block title %}Bookstore Login{% endblock %}


{% block content %}
{% include 'user_nav.html' %}

<h1 class="text-center">Login</h1>

{% if user.is_authenticated %}
<p>
You are already logged in as <b>{{ user.username }}.</b>
</p>
{% else %}
<div class="row column log-in-form">

<form action="" method="POST">
	{% csrf_token %}
	
	{{ form.errors }}
	<div>
	{{ form.username.label }} : {{ form.username }}
	{{ form.username.errors }}
	</div>
	<div>
	{{ form.password.label }} : {{ form.password }}
	{{ form.password.errors }}
	</div>
	<div>
	<p><input type="submit" value="Submit" class="button expanded"></p>
	</div>
</form>
{% endif %}

{% endblock %}