{% extends 'base.html' %}

{% block title %}Review List for {{ queried_user.username }} {% endblock %}

{% block content %}

{% include 'user_nav.html' %}

<div class="row small-up-1 medium-up-2 large-up-3">

	<div class="row">

		
				
			{% for review in review_list %}
				<div class="column float-right">

				<h1>{{ queried_user.username }}</h1>
				{% if review_list %}
				<h3>{{ review_list|length }} review{{ review_list|pluralize}}</h2>
				<h3>Average rating: {{ average_rating }}</h3>
				{% endif %}
				<p><img  src="{{ review.img_patch_review.url }}" alt="image of a planet called Pegasi B"></p>
				<p class="lead">{{ review.book.title }} </p>
				<p class="subheader">{{ review.rating }} از  ۵</p>
				<p class="subheader">({{ review.timestamp }})</p>
				<p>
				{{ review.review_message|safe }}
				</p>

				<p class="review" id="review-{{ forloop.counter }}"></p>
				</div>
				{% empty %}
				<p>There are no reviews for this user.</p>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>


</div>

{% endblock %}



